.icon-circle {
	width: 35px; 
	height: 35px; 
	line-height: 35px;
}

.navbar-mobile {
	display: none;
}

.navbar-mobile {
	width: 20vw;
	z-index: 5;
	top: 0;
	bottom: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	right: -100%;
	display: block;
}

.navbar-mobile .mobile-content {
	z-index: 6;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-top: 120px;
}

.navbar-toggle {
	right: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.backend-search-input {
	border-top-right-radius: 0 !important; 
	border-bottom-right-radius: 0 !important;
}

.backend-search-button {
	border-top-left-radius: 0 !important; 
	border-bottom-left-radius: 0 !important;
}

.backend-search-button:hover {
	opacity: 0.9;
}

.panel-icons {
	width: 45px; 
	height: 45px;
	line-height: 45px;
}

.backend-content {
	padding-top: 130px;
}

@media (max-width: 768px) {
	.previous-next-text {
		display: none;
	}
}

@media (max-width: 575.98px) {

	.navbar-mobile {
		width: 100vw;
	}
}

