:root {
    --prussian: #0e3358;
    --alabaster: #f1f1e6;
    --orange: #f14a16;
    --selective: #FFBA08;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden
}

.bg-alabaster {
    background-color: var(--alabaster);
}

.bg-prussian {
    background-color: var(--prussian);
}

.navigation ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

*:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

a:hover {
    opacity: 0.95;
}

body {
    font-family: "Poppins", serif;
}

/*.input-group-prepend,
.input-group-append {
    height: 45px;
}*/

.cursor-pointer {
    cursor: pointer;
}

.object-fit-cover {
    -o-object-fit: cover;
       object-fit: cover;
}

.modal-open .modal {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.modal-open .modal::-webkit-scrollbar {
    display: none;
     /* Safari and Chrome */
    width: 0px;
}

.wrapper {
    min-height: 100vh;
}

ul {
    list-style: none;
}

/** Customize Switch */

.custom-checkbox .custom-switch .custom-control-input::after {
    border: none !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #28a745 !important;
    border: none !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    border: none;
}

.custom-switch .custom-control-input:checked:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px transparent;
            box-shadow: 0 0 0 1px transparent;
}

.custom-switch .custom-control-input:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px transparent;
            box-shadow: 0 0 0 1px transparent;
}

.custom-switch .custom-control-input:focus~.custom-control-label::before {
    border: none;
}

.custom-switch .custom-control-input:active~.custom-control-label::before {
    background-color: transparent;
    border: none;
}

.custom-switch .custom-control-label::after {
    background-color: #6c757d;
}

.custom-switch .custom-control-label::before {
    border: none;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fefefe;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/banners/grid.svg);
}

.center-absolute {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
